@import "tailwindcss";

@theme {
  --color-primary: #F05032;

  --color-background: #232323;
  --color-background-dark: #191919;
  --color-background-darker: #171717;
  --color-background-darkest: #151515;
  
  --color-text: #D3DAD9;

  --color-information: #548687;
  --color-warning: #FCAB10;
  --color-error: #F05032;
  --color-success: #548687;
}

html {
  @apply bg-background;
  @apply text-text;
}
