@import "tailwindcss";

@theme {
  --color-primary: #F05032;

  --color-background: #232323;
  --color-background-dark: #191919;
  --color-background-darker: #171717;
  
  --color-text: #D3DAD9;
}

html {
  @apply bg-background;
  @apply text-text;
}